POSTGRES_DB=QUNDYLYQ_DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=altera69
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=django-insecure-a4zxjr73cky2+2qskaj(vq3(m5!w0jw$$afh__*q18-%3*yjb**
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.app,.ngrok-free.dev,40-school-site.duckdns.org
CSRF_TRUSTED_ORIGINS=https://*.ngrok-free.app,https://*.ngrok-free.dev,https://40-school-site.duckdns.org

DOMAIN=40-school-site.duckdns.org
ACME_EMAIL=jumajanovmiras@gmail.com
DUCKDNS_SUBDOMAIN=40-school-site
DUCKDNS_TOKEN=your-duckdns-token
NGROK_AUTHTOKEN=your-ngrok-authtoken
NGROK_DOMAIN=

TZ=UTC
PUID=1000
PGID=1000
